%h1 Sign In
= form_for :session, :url => sessions_path, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :email_or_username, :class => 'control-label'
    .controls
      = f.text_field :email_or_username
  .control-group
    = f.label :password, :class => 'control-label'
    .controls
      = f.password_field :password
  .control-group
    .controls
      = f.submit 'Sign in', :class => 'btn btn-primary'
%p.signup-here
  Don't have an account?
  = link_to 'Sign up today', signup_path
%p.forgotten-password
  = link_to 'Forgot your password?', forgotten_users_path
%p.learn-more
  = link_to 'Learn more about Linkadex', about_root_path
