!!!
%html
  %head
    %meta{ :context => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
  %body
    %h1= "Your password has been reset #{@user.name}"
    %p= "Your password is now #{@new_password}"
    %p
      Please log in and change your password to something you won't forget:
      %a{ :href => @link }= @link
