= render :partial => 'shared/form_header', :locals => { :object_name => 'Group' }
.modal-body
  = render :partial => 'shared/form_errors', :locals => { :object => @group }
  = form_for @group, :remote => true, :html => { :class => 'form-horizontal' } do |f|
    .control-group
      = f.label :title, :class => 'control-label'
      .controls
        = f.text_field :title
    .control-group
      = f.label :color, :class => 'control-label'
      .controls
        = render :partial => 'shared/color_select', :locals => { :name => :color, :color => @group.color, :f => f }
    .control-group
      = f.label :collapsed, "Collapse?", :checked => @group.collapsed?, :class => 'control-label'
      .controls
        = f.check_box :collapsed
    .control-group
      .controls
        = f.submit "#{@verb} Group", :class => 'btn btn-primary'
