%div{ :id => "user#{user.id}", :class => 'user' }
  - link_count, group_count = user.links.count, user.groups.count
  %h2= link_to user.name, user
  = "#{pluralize(link_count, 'link')} in #{pluralize(group_count, 'group')}"
