.color{ :id => "color#{color.id}" }
  .row-fluid
    .span8.palette{ :style => "background-color: #{color.hex_value}" }
    .span3.color-label= color.alias.blank? ? color.hex_value : color.alias
    .span1
      .pull-right
        = link_to icon_for(:edit), edit_color_path(color), :remote => true
        = link_to icon_for(:remove), color_path(color), :remote => true, :method => :delete, :confirm => "Remove color from palette?"
