= render :partial => 'shared/form_header', :locals => { :object_name => "Color" }
.modal-body
  = render :partial => 'shared/form_errors', :locals => { :object => @color }
  = form_for @color, :remote => true, :html => { :class => 'form-horizontal' } do |f|
    .control-group
      = f.label :hex_value, :class => 'control-label'
      .controls
        = f.text_field :hex_value, :class => 'colorpicker'
    .control-group
      = f.label :alias, :class => 'control-label'
      .controls
        = f.text_field :alias
    .control-group
      .controls
        = f.submit "#{@verb} Color", :class => 'btn btn-primary'
