!!!
%html
  %head
    %title= Linkage
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if edit_mode?
      .container-fluid
        .navbar.navbar-static-top
          .navbar-inner
            = link_to 'Linkage', root_path, :class => 'brand'
            %ul.nav
              %li.divider-vertical
              %li{ :class => params[:controller] == 'dashboard' ? 'active' : '' }= link_to 'Home', root_path(:mode => 'edit')
              %li{ :class => %w(groups links).include?(params[:controller]) ? 'active' : '' }= link_to 'Groups', groups_path
              %li{ :class => params[:controller] == 'colors' ? 'active' : '' }= link_to 'Colors', colors_path
            %ul.nav.pull-right
              %li.dropdown
                = link_to 'Mode ▼', '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'
                %ul.dropdown-menu
                  %li= link_to 'Normal', root_path
                  %li= link_to icon_for(:ok) + ' Edit', root_path(:mode => 'edit')
    .container-fluid
      #modal.modal.hide.fade{ :tabindex => '-1', :role => 'dialog', 'aria-laballedby' => 'modal_label', 'aria-hidden' => 'true' }
      .content
        .row-fluid
          .span12
            = yield
